name: build

on:
  push:
    branches-ignore: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  fleeting-plugin-proxmox:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - run: go build -o fleeting-plugin-proxmox ./cmd/fleeting-plugin-proxmox
